services:
  backend:
    build: ./backend
    container_name: cjr-backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    restart: always

  nginx:
    build: ./frontend
    container_name: cjr-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    restart: always

  db:
    image: postgres:15
    container_name: cjr-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: czech_jump_rope
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d/

volumes:
  db_data:
